{% extends './base.html' %}

{% block title%} Contacto {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Formulario de registro </h1>
        <form>

                <input type="text" name="usuario"value =""placeholder ="Usuario">

                <input type="password" name="Contrasena"value =""placeholder ="Contraseña">

                <input type="number" name="cedula"value =""placeholder ="Cedula">
 
                <input type="text" name="correo"value =""placeholder ="Correo">

               <button name ="">Guardar</button>
               
               <button name ="">Ingresar </button>

          
        </form>
    </div>
</div>
{% endblock %}